@tailwind base;
@tailwind components;
@tailwind utilities;


.GetinTouch {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 40px;
}

.SvgName {
  transform: scale(1, 1.3);
  letter-spacing: 1px;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #000;
  --white: #fff;
  --borderColor: #2E364F;

  /* --neutrals-900: '#060918',
    --neutrals-800: '#161A2C',
    --neutrals-700: '#23263B',
    --neutrals-600: '#2E364F',
    --neutrals-500: '#4D5775',
    --neutrals-400: '#6F7A9B',
    --neutrals-300: '#96A1C0',
    --neutrals-200: '#C7D0E5',
    --neutrals-100: '#F0F2FE',
    --neutrals-50: '#FFFEF9',
    --success: '#00F090',
    --warning: '#FFDC30',
    --error: '#FF2E5B', */
}

.borderColor {
  border-color: var(--borderColor);
}

.black {
  color: var(--black);
}

.hoveranimation:hover {
  color: rgb(6 9 24) !important;
}

.hoveranimation:hover::before {
  content: '';
  background-color: rgb(255 254 249);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Home__Section {
  position: relative;
  /* background-image: radial-gradient(147% 114% at 50% 103%, #DEDEDE 5.3%, #DEDEDE 20.1%, #59A3BD 30.5%, #1C4460 50%, #0B1117 70%); */
  background-image: radial-gradient(147% 114% at 50% 103%, #33adcd 5.3%, #68b3d5 20.1%, #59A3BD 30.5%, #1C4460 50%, #0B1117 70%);
  z-index: -1;
}

.HomeSection_div {
  position: relative;
  z-index: 1;
}

.Home__Section::after {
  background-color: initial;
  background-image: linear-gradient(180deg, hsla(240, 4%, 15%, 0) 0%, hsla(240, 3.9%, 15.1%, 0.028) 11.87%, hsla(240, 3.9%, 15.1%, 0.104) 22.5%, hsla(240, 3.9%, 15.1%, 0.216) 32.18%, hsla(240, 3.9%, 15.1%, 0.352) 41.25%, hsla(240, 3.9%, 15.1%, 0.5) 50%, hsla(240, 3.9%, 15.1%, 0.648) 58.75%, hsla(240, 3.9%, 15.1%, 0.784) 67.82%, hsla(240, 3.9%, 15.1%, 0.896) 77.5%, hsla(240, 3.9%, 15.1%, 0.972) 88.13%, hsl(240, 3.9%, 15.1%) 100%);
  left: 0;
  bottom: 0;
  content: "";
  height: 250px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.home_aboutTheme {
  width: 100%;
  height: 230vh;
  background-image: linear-gradient(transparent 79%, #252528 100%), linear-gradient(#252528 2.1%, transparent 22%), linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.07) 45.9%, transparent 100%), linear-gradient(90deg, #255264 13.2%, #0F0F14 100%);
  position: absolute;
}
@media screen and (max-width: 768px) {
  .SvgName {
    transform: scale(0.9, 1);
    letter-spacing: normal;
    text-align: center;
  }
}












@keyframes throwColor {
  0% {
    transform: translate(-100%) skew(-16deg);
  }
  15%, 100% {
    transform: translate(190%) skew(-16deg);
  }
}

.animated-throwColor::after {
  animation: throwColor 3s infinite;
}